@import './mixin';
@import './variables';
@import './_Login';
@import './_Navbar';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

// Hard Reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    font-family: 'Work Sans', sans-serif;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}